@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: rgb(206, 124, 77);
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}

.container {
  display: block;
  margin: auto;
}

.container h2 {
  margin-bottom: 30px;
}

button {
  display: block;
  margin: 10px auto;
  padding: 8px;
  background-color: rgb(206, 124, 77);
  border-radius: 10px;
  border: 2px solid rgb(206, 124, 77);
}

